################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/MEK7300service/FileContentIndex/17e6dff6-c599-442a-9d9e-e955c073ee1f.vsidx
/.vs/MEK7300service/FileContentIndex/5257aa03-db80-4346-aebb-fbbce031189c.vsidx
/.vs/MEK7300service/FileContentIndex/6d0a23da-e47d-4619-bd0f-2df31d87b27b.vsidx
/.vs/MEK7300service/FileContentIndex/72b677dd-125e-4aa9-bb2c-618394888a28.vsidx
/.vs/MEK7300service/v17/.suo
/.vs/MEK7300service/v17/DocumentLayout.json
/bin/Debug/gerados/0023012025003.txt
/bin/Debug/gerados/0023012025004.txt
/bin/Debug/MEK7300service.exe
/bin/Debug/MEK7300service.exe.config
/bin/Debug/MEK7300service.pdb
/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
/bin/Debug/processados/0023012025003.txt
/bin/Debug/processados/0023012025004.txt
/bin/Debug/service.log
/bin/Debug/System.Buffers.dll
/bin/Debug/System.Buffers.xml
/bin/Debug/System.IO.Pipelines.dll
/bin/Debug
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug
/packages
Debug
/obj/Debug
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/MEK7300service.csproj.AssemblyReference.cache
/obj/Debug/MEK7300service.csproj.CoreCompileInputs.cache
/obj/Debug/MEK7300service.csproj.FileListAbsolute.txt
/obj/Debug/MEK7300service.exe
/obj/Debug/MEK7300service.pdb
/.vs/MEK7300service/FileContentIndex/34a6f112-b439-4556-a9b8-4e1ef37ac77d.vsidx
/.vs/MEK7300service/FileContentIndex/41f8e652-71d9-442c-a342-d58bf9dac2e3.vsidx
/.vs/MEK7300service/FileContentIndex/66c4447c-3459-43d2-b9a7-1ec69c05feee.vsidx
/.vs/MEK7300service/FileContentIndex/86da8af7-09c6-4427-975e-db095b5098a2.vsidx
/.vs/MEK7300service/FileContentIndex/c4faae3b-a6ac-4736-b655-021141f0e2bc.vsidx
/obj/Release/MEK7300service.csproj.AssemblyReference.cache
